<!DOCTYPE html>
<html lang="en">

    <head>
        {{>headerlink}}
    </head>

    <body>
        <!-- add navbar -->
        {{>navbar}}


        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">


                        <!-- left side div -->
                        <div class="col-md-10 col-12 error main_header_left align-items-center">

                            <figure class="errimg">
                                <img src="images/404error.gif" alt="Tech" class="img-fluid" title="TechSpot">
                            </figure>






                            <p>Welcome to Tech Weather World</p>
                            <h1>{{errorMSg}}</h1>
                            <a href="/"><button>Go Back</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- footer -->
        {{>footer}}
    </body>

</html>
