<!DOCTYPE html>
<html lang="en">

    <head>
       {{>headerlink}}
    </head>

    <body>
        <!-- add navbar -->
        {{>navbar}}


        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">


                        <!-- left side div -->
                        <div class="col-md-6 col-12 main_header_right align-items-center">

                            <figure>
                                <img src="images/logo1.png" alt="Tech" class="img-fluid" title="TechSpot">
                            </figure>

                        </div>



                        <!-- right side div    images/img12.gif images/img14.gif images/img10.gif -->
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to weather app</p>
                            <h1> I Am A <span>Full Stack Developer <i class="fas fa-user-tie"></i> </span>Designer And A
                                Freelancer</h1>
                            <a href="/" target="_Tech"><button>About</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- footer -->
        {{>footer}}
    </body>

</html>
